<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Résultat Debug</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="container-debug">
    <h2>Fichier Debug :</h2>

    <div>
        <h3>Contenu d'entrée</h3>
        <textarea id="txtContent" readonly>{{ txt_content }}</textarea>
        <button class="btn-secondary" onclick="copyToClipboard('txtContent')">Copier</button>
    </div>
    <div>
        <h3>Contenu de sortie</h3>
        <textarea id="csvContent" readonly>{{ csv_content }}</textarea>
        <button class="btn-secondary" onclick="copyToClipboard('csvContent')">Copier</button>
    </div>

    <div class="button-group"><button class="btn-primary" onclick="window.location.href='/';">Terminé</button></div>
</div>

    <script>
        function copyToClipboard(elementId) {
            let textarea = document.getElementById(elementId);
            textarea.select();
            document.execCommand("copy");
            alert("Copié dans le presse-papier !");
        }
    </script>
</body>
</html>
