<!DOCTYPE html>
<html lang="fr">
{% include 'head.html' %}
<body>
    <div class="container-debug">
    <h1>Fichiers extraits</h2>

    <div>
        <h3>Contenu d'entrée</h3>
        <textarea id="txtContent" readonly>{{ txt_content }}</textarea>
        <button class="btn-secondary" onclick="copyToClipboard('txtContent')">Copier</button>
    </div>
    <div>
        <h3>Contenu de sortie</h3>
        <textarea id="csvContent" readonly>{{ csv_content }}</textarea>
        <button class="btn-secondary" onclick="copyToClipboard('csvContent')">Copier</button>
    </div>

    <button class="btn-primary" onclick="window.location.href='/';">Terminé</button>
</div>
</body>
</html>
