<!DOCTYPE html>
<html lang="fr">
{% include 'head.html' %}
<body>
        <div class="container-upload">
            <h1>Téléversement des fichiers PDF</h1>

            <form id="uploadForm">
                <div id="dropzone" class="dropzone">Déposez des fichiers PDF ici ou cliquez</div>
                <input type="file" id="fileInput" accept="application/pdf" multiple hidden>
                <ul id="fileList"></ul>
                <div class="button-group">
                    <button type="button" class="btn-secondary" onclick="debugFiles()">Entrainer l'IA</button>
                    <button type="button" class="btn-primary"onclick="uploadFiles()">Importer dans l'ERP</button>
                </div>
            </form>
            
        </div>
        

        <div class="history-container">
            <h3>Historique des fichiers</h3>
            <ul id="done-list"></ul>
            <button onclick="clearDoneFiles()" title="Effacer les fichiers terminés">
                <img src="static/trash.png" alt="Supprimer" width="20" height="20">
            </button>
        </div>
        <div class="processing-container">
            <h3>Fichiers en cours de traitement</h3>
            <ul id="processing-list"></ul>
        </div>
        <div class="other">
            <button class="btn-secondary" onclick="agents()">Gérer les Agents</button>
        </div>

    <script>

        function agents() {
            window.location.href = "{{ url_for('agents') }}";
        }

        const dropzone = document.getElementById("dropzone");
        const fileInput = document.getElementById("fileInput");
        const fileList = document.getElementById("fileList");
        let selectedFiles = [];

        dropzone.addEventListener("click", () => fileInput.click());

        dropzone.addEventListener("dragover", (event) => {
            event.preventDefault();
            dropzone.classList.add("dragover");
        });

        dropzone.addEventListener("dragleave", () => dropzone.classList.remove("dragover"));

        dropzone.addEventListener("drop", (event) => {
            event.preventDefault();
            dropzone.classList.remove("dragover");

            handleFiles(event.dataTransfer.files);
        });

        fileInput.addEventListener("change", () => {
            handleFiles(fileInput.files);
        });



        fetchHistory(); // Chargement initial
        setInterval(fetchHistory, 5000); // Mise à jour automatique toutes les 5s
    </script>
</body>
</html>
